.brand{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0 10% 10% 10%; */
    padding-bottom: 10%;
    box-sizing: border-box;
}
.brand .title{
    font-size: 32px;
    margin-bottom: 50px;
}
.brand .title2{
    font-size: 32px;
}
.brand .brandImg{
    width: 100%;
    height: 40vw;
    background: url("https://raw.githubusercontent.com/DeokWonPark/Franchise-site/master/public/images/logo2.png");
    /* background: url("https://raw.githubusercontent.com/DeokWonPark/Franchise-site/master/public/images/main3.jpg"); */
    background-repeat: no-repeat;
    background-size: 100% 90%;
    margin-bottom: 150px;
}
.brand .brandImg .brandContent{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 3vw;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.418);
}
.brand .brandImg .brandContent .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: white;
    line-height: 1.5em;
}
.brand hr{
    width: 150px;
    border: 1px solid rgb(233, 185, 83);
    margin-bottom: 50px;
}

.sloganBox{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    transition: all 1s ease;
    transform: translate(0,30vh);
}
.sloganBox.show{
    transform: none;
}
.sloganBox img{
    width: 50vw;
    height: 65vw;
}
.sloganBox .descriptionBox{
    /* align-self: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}
.sloganBox .descriptionBox .description{
    font-size: 24px;
    text-align: center;
    line-height: 1.5em;
    padding-bottom: 8vw;
    border-bottom: 3px solid black;
}
.sloganBox .descriptionBox .description h3{
    font-size: 28px;
    font-weight: 600;
}
.sloganBox .descriptionBox .description .back{
    color: gray;
}
.sloganBox .descriptionBox .description span{
    display: inline-block;
    font-size: 22px;
    margin-top: 35px;
}
.sloganBox .descriptionBox .Info{
    margin-top: 8vw;
    font-size: 22px;
    color: rgb(61, 61, 61);
    line-height: 1.4em;
}
.sloganBox .descriptionBox .Info th{
    border-right: 3px solid black;
    text-align: left;
    letter-spacing: 1em;
}
.sloganBox .descriptionBox .Info td{
    padding-left: 30px;
}

@media screen and (max-width:1240px){
    .brand .brandImg .brandContent .description{
        font-size: 20px;
    }
    /* .sloganBox img{
        width: 50vw;
        height: 80vh;
    } */
    .sloganBox .descriptionBox .Info{
        font-size: 14px;
    }
    .sloganBox .descriptionBox .description{
        font-size: 18px;
    }
    .sloganBox .descriptionBox .description h3{
        font-size: 22px;
    }
    .sloganBox .descriptionBox .description span{
        font-size: 16px;
    }
}
@media screen and (max-width:1024px){
    .sloganBox{
        flex-direction: column;
        align-items: center;
    }
    .sloganBox img{
        padding-bottom: 50px;
    }
    .sloganBox .descriptionBox{
        padding-left: 0;
    }
    .brand .brandImg .brandContent .description{
        font-size: 16px;
    }
}
@media screen and (max-width:768px){
    .sloganBox img{
        width: 70vw;
        height: 90vw;
    } 
    .brand .brandImg{
        height: 60vw;
    }
    .brand .brandImg .brandContent .description{
        font-size: 14px;
    }
}
@media screen and (max-width:480px){
    .brand .brandImg{
        height: 80vw;
    }
    .brand .brandImg .brandContent .description{
        font-size: 12px;
    }

    .sloganBox .descriptionBox .Info{
        font-size: 12px;
    }
    .sloganBox .descriptionBox .description{
        font-size: 16px;
    }
    .sloganBox .descriptionBox .description h3{
        font-size: 20px;
    }
    .sloganBox .descriptionBox .description span{
        font-size: 14px;
    }
    .sloganBox .descriptionBox .Info th{
        letter-spacing: 0.5em;
        padding-right: 20px;
    }
}