.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%; /*full-screen x*/
    padding: 3%;
    position: relative;
}
.menu .menuHead{
    text-align: center;
}
.menu .menuHead h2{
    font-size: 52px;
    color: rgb(236, 183, 67);
    padding-bottom: 10px;
}
.menu .menuHead p{
    font-size: 22px;
    margin-bottom: 20px;
}
.menu .menuItems{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4,25%);
    z-index: 10;
}
.menu .menufooter{
    width: 100%;
    text-align: center;
    font-size: 66px;
    padding: 37vh 50px 90vh 50px;
    background: rgb(233, 185, 83);
    position: absolute;
    bottom: -125vh;
}
.menu .menufooter p{
    padding-bottom: 30px;
}

/* scroll-animation */

.menu .menufooter .foot1{
    transition: all 1s ease;
    transform: translate(0,200%);
}
.menu .menufooter .foot1.show{
    transform: none;
}
