.modal{
    width: 430px;
    height: 430px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 39vw;
    border: 2px solid black;
    background: white;
    opacity: 1;
    z-index: 99;
}

.modal .close{
    width: 100%;
    text-align: end;
}
.modal .close svg{
    font-size: 22px;
    padding: 10px;
    cursor: pointer;
}
.modal .info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1.5em;
    color: gray;
}
.modal .info .color{
    font-size: 24px;
    font-weight: 600;
    text-decoration: underline;
    color: cadetblue;
    padding: 5px;
}
.modal .form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal .form input{
    display: block;
    width: 50%;
    height: 13%;
    margin-bottom: 1vw;
}
.modal .form input:focus{
    border-color: cadetblue;
}
.modal .form button{
    background-color: cadetblue;
    width: 30%;
    padding: 0.7vw;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width:1024px){
    .modal{
        left: 27vw;
    }
}
@media screen and (max-width:768px){
    .modal{
        left: 15vw;
    }
}
@media screen and (max-width:480px){
    .modal{
        width: 280px;
        height: 280px;
        left: 15vw;
    }
    .modal .info{
        font-size: 16px;
    }
    .modal .info .color{
        font-size: 20px;
    }
}