.boardTable{
    width: 100%;
    border: 1px solid gray;
    text-align: center;
    margin-bottom: 3vh;
}
.boardTable th{
    padding: 10px;
    border-bottom: 1px solid lightgray;
    background: rgb(240, 240, 240);
    font-size: 18px;
}
.boardTable td{
    padding: 15px;
    border-bottom: 1px solid lightgray;
    font-size: 18px;
    color: gray;
}
 .ModalBox{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
     background-color: #000000bd;
 }

 .answer{
     background-color: tan;
 }


 @media screen and (max-width:768px){
    .boardTable th{
        font-size: 16px;
    }
    .boardTable td{
        font-size: 14px;
        padding: 10px;
    }
}
 @media screen and (max-width:480px){
    .boardTable th{
        font-size: 14px;
    }
    .boardTable td{
        font-size: 10px;
        padding: 10px;
    }
}