.infomation{
    width: 100%;
    height: 450px;
    background-image: url("https://raw.githubusercontent.com/DeokWonPark/Franchise-site/master/public/images/%EA%B0%80%EA%B2%8C%20%ED%99%802.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 80vh;
    margin-bottom: 20vh;
}
.infomation .infomationBox{
    width: 100%;
    height: 100%;
    background: #00000099;
}