header{
    display: flex;
    justify-content: center;
    background: rgb(255, 253, 251);
    border-bottom: 7px solid rgb(233, 185, 83);
}
header .inner{
    width: 75%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}
header .logo{
    display: flex;
    justify-content: space-between;
}
header .logo img{
    width: 180px;
    height: 120px;
    padding: 5px;
    cursor: pointer;
}
header .logo .hambuger{
    display: none;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s;
}
header .logo .hambuger:active{
    color: rgb(233, 185, 83);
    transform: scale(1.3);
}
header .logo .hambuger svg{
    font-size: 22px;
}
header .sidebox{
    width: 20%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
header .sidebox .sideBtn{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
header .sidebox .sideBtn p{
    font-size: 13px;
    color: gray;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 5px;
}
header .sidebox .sideBtn p:hover{
    text-decoration: underline;
}
header .sidebox .sideBtn button{
    border: none;
    background: none;
    width: 30px;
    height: 30px;
    margin-right: 11px;
    cursor: pointer;
}
header .sidebox .sideBtn .userBtn{
    display: none;
}
header .sidebox .sideBtn button img{
    width: 30px;
    height: 30px;
}
header .sidebox .sideBtn button svg{
    font-size: 30px;
    color: rgb(50,180, 74);
}

@media screen and (max-width:1240px){
    header .inner{
        width: 100%;
    }
}

@media screen and (max-width:1024px){
    header .inner{
        align-items: center;
    }
    header .logo img{
        width: 120px;
        height: 90px;
    }
    header nav ul li {
        font-size: 16px;
    }
    header .sidebox{
        padding: 0;
    }
    header .sidebox .sideBtn button{
        width: 20px;
        height: 20px;
        margin-right: 11px;
    }
    header .sidebox .sideBtn button img{
        width: 20px;
        height: 20px;
    }
    header .sidebox .sideBtn .userBtn{
        display: block;
    }
    header .sidebox .sideBtn button svg{
        font-size: 20px;
    }
    header .sidebox .sideBtn p{
        display: none;
    }
}

@media screen and (max-width:768px){
    header .inner{
        flex-direction: column-reverse;
        align-items: center;
    }
    header .logo{
        width: 95%;
    }
    header nav{
        display: none;
    }
    header .sidebox{
        display: none;
    }
    header .logo .hambuger{
        display: block;
    }

    header nav.toggle{
        display: block;
    }
    header nav.toggle ul{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    header nav.toggle ul li{
        border-bottom: 0.5px solid rgb(221, 221, 221);
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 3px;
    }
    header .sidebox.toggle{
        display: block;
        padding: 0 10px 10px 10px;
    }
}