.visual{
    width: calc(100%*4);
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: margin-left 2s;
}

input{
    display: none;
    text-align: center;
}
.bullet{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.bullet label{
    text-align: center;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    border-radius: 10px;
    border: 2px solid #666;
    display: inline-block;
    background: #fff;
    font-size: 0;
    transition: 0.5s;
    cursor: pointer;
}

 /* 슬라이드 조작 */
 /* #pos1:checked{
     display: flex;
 } */
 #pos1:checked ~ input{color: chocolate; display: block;}
 #pos2:checked ~ .visual{margin-left:-100%;}
 #pos3:checked ~ .visual{margin-left:-200%;}
 #pos4:checked ~ .visual{margin-left:-300%;}
 /* bullet 조작 */
 #pos1:checked ~ .bullet label:nth-child(1),
 #pos2:checked ~ .bullet label:nth-child(2),
 #pos3:checked ~ .bullet label:nth-child(3),
 #pos4:checked ~ .bullet label:nth-child(4){background:#666;}