.visual{
    width: calc(100%*4);
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: margin-left 2s;
}

input{
    display: none;
    text-align: center;
}
.bullet{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.bullet label{
    text-align: center;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    border-radius: 10px;
    border: 2px solid rgb(255, 214, 81);
    display: inline-block;
    background: #fff;
    font-size: 0;
    transition: 0.5s;
    cursor: pointer;
}
.bullet label:nth-child(1){
    background: rgb(236, 183, 67);
}
