.visual{
    display: flex;
    background-image: url("https://raw.githubusercontent.com/DeokWonPark/Franchise-site/master/public/images/%EC%A0%95%EC%8B%9D_3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.visual .foodInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    color: white;
}
.visual .foodInfo .foodInfohead{
    display: flex;
    justify-content: space-between;
}
.visual .foodInfo .foodInfohead p{
    align-self: center;
    padding-left: 15px;
    font-size: 20px;
    font-weight:700;
}
.visual .foodInfo .blog{
    width: 40px;
    height: 40px;
}
.visual .foodInfo h2{
    font-size: 42px;
    font-weight:700;
    padding: 15px;
}
.visual .foodInfo p{
    font-size: 18px;
    font-weight:500;
}
