@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
body{
    font-family: 'Jua', sans-serif;
}
.full-page-controls{
    display: none;
}
/* border component */
#answer{ 
    margin-top: 10%;
}
#answer hr{
    border: 1px dashed gray;
}
#answer p{
    background-color: rgb(165, 165, 165);
    margin-bottom: 10px;
    color: white;
    padding: 3px;
    border-radius: 5px;
}